{% extends 'main/base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<style>

body {
    background-color: #f7f7f7;
    font-family: serif, sans-serif;
    color: #212121;
    margin: 25px;
    padding: 0;
}

/* Basic text formatting */
h1, h2, h3, h4, h5, h6 {
    color: #121212;
    font-family: "Garamond", serif;
    margin: 20px 0 10px;
}

p {
    line-height: 1.6;
    margin: 10px 0;
}

/* Links */
a {
    color: #ff56cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
</style>

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil użytkownika</title>
</head>
<body>
    <h1>Witaj, {{ user.username }}!</h1>
    <p>Email: {{ user.email }}</p>
    <h2>Historia zamówień:</h2>
    {% if orders %}
        <ul>
            {% for order in orders %}
                <li>
                    <a href="{% url 'order_detail' order.id %}">Zamówienie nr {{ order.id }}</a> - 
                    Całkowita cena: {{ order.total_price }} zł - 
                    Data utworzenia: {{ order.created_at }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nie masz jeszcze żadnych zamówień.</p>
    {% endif %}
    <form method="post" action="{% url 'logout' %}">
        <br>
        <br>
        {% csrf_token %}
        <a href="{% url 'edit_profile' %}">Edytuj profil</a>
        <br>
        <br>
        <button type="submit" class="btn btn-primary">Wyloguj się</button>
    </form>
</body>
</html>


{% endblock %}