
{% extends 'main/base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

<style>
    body {
    background-color: #f7f7f7;
    font-family: serif, sans-serif;
    color: #212121;
    margin: 25px;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #121212;
    font-family: "Garamond", serif;
    margin: 20px 0 10px;
}

.travel-tips {
    background-color: #c2f1f2; 
    padding: 20px;
    border-radius: 10px; 
    list-style: none; 
    margin: 20px 0; 
}



p {
    line-height: 1.6;
    margin: 10px 0;
}

a {
    color: #ff56cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul, ol {
    margin: 10px 0 10px 20px;
}

li {
    margin: 5px 0;
}

img {
    display: block; /* Ustawienie obrazu jako elementu blokowego */
    margin: 0 auto; /* Wyśrodkowanie obrazu */
    max-width: 100%; /* Dostosowanie rozmiaru obrazu do szerokości rodzica */
    height: auto; /* Zachowanie proporcji obrazu */
    margin-left: -20px;
    margin-right: -20px;
}

.col {
    background-color: #ffd4e5; 
    padding: 20px;
    border-radius: 10px; 
    margin: 10px; 
    text-align: center;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }
</style>
<h1>Wycieczki</h1>
<ul>
    {% for trip in trips %}
    <li>
        <h2>{{ trip.name }}</h2>
        <p>Wycieczka </p>
        <p>{{ trip.description|truncatewords:20 }}</p>
        <p>Cena: {{ trip.price }} PLN</p>
        <a href="{% url 'trip_detail' trip.id %}">Zobacz więcej</a>
    </li>
    {% endfor %}
</ul>
<div class="travel-tips-section">
    <h3>Australia</h3>
    <ul class="travel-tips">
        <li>Opera House w Sydney
        <li> Sydney Harbour Bridge (spacer lub wspinaczka)</li>
        <li> Bondi Beach</li>
        <li>Great Barrier Reef (nurkowanie lub rejs)</li>
        <li> Blue Mountains National Park</li>
        <li>Uluru (Ayers Rock) w Parku Narodowym Uluru-Kata Tjuta</li>
        <li>Royal Botanic Gardens w Sydney</li>
        <li>Fraser Island (największa piaszczysta wyspa na świecie)</li>
        <li> Whitsunday Islands</li>
        <li>Tasmania’s Cradle Mountain</li>
</div>
<img src="{% static 'images/Projekt bez nazwy.jpg' %}" alt="wycieczka">
    <h3>Malediwy</h3>
    <div class="travel-tips-section">
    <div class="travel-tips">
        <li>Atol Baa (Rezerwat biosfery UNESCO)</li>
        <li>Maafushi Island (lokalne wyspy z pięknymi plażami)</li>
        <li>Sun Island Resort</li>
        <li>Manta Point (idealne do nurkowania)</li>
        <li>Banana Reef (jedno z najstarszych miejsc do nurkowania)</li>
        <li>Fihalhohi Island (spokojna wyspa idealna na relaks)</li>
        <li>Diving w Ari Atoll (spotkania z rekinami)</li>
        <li>Visiting Male (stolica Malediwów)</li>
        <li>Maafushi Island (typowa wyspa z malowniczymi plażami)</li>
        <li>Hinnavaru Island (idealne miejsce do uprawiania sportów wodnych)</li>
    </ul>
</div>
<img src="{% static 'images/beach-666122_1280.jpg' %}" alt="wycieczka">
    <h3>Włochy</h3>
    <div class="travel-tips-section">
    <div class="travel-tips">
        <li>Koloseum w Rzymie</li>
        <li>Watykan (Bazylika Świętego Piotra, Kaplica Sykstyńska)</li>
        <li>Wieża w Pizie</li>
        <li>Wielki Kanał w Wenecji (rejs gondolą)</li>
        <li>Pompeje (ruiny starożytnego miasta)</li>
        <li>Amalfi Coast (klify, winnice i plaże)</li>
        <li>Willa d'Este w Tivoli (ogrody i pałace)</li>
        <li>Florencja (Galeria Uffizi, Katedra Santa Maria del Fiore)</li>
        <li>Cinque Terre (pięć uroczych wiosek nad Morzem Liguryjskim)</li>
        <li>Toskania (winnice, średniowieczne miasteczka)</li>
    </ul>
</div>
<img src="{% static 'images/Projekt bez nazwy (2).jpg' %}" alt="wycieczka">
</ul>
{% endblock %}



 